.register-login {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
}

.background {
    background: url("../assets/login-background.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background::after {
    content: "";
    position: absolute;
    top: -1%;
    left: -1%;
    height: 102%;
    width: 102%;
    background: black;
    opacity: 0.2;
}

.center {
    width: 450px;
    border: 1px solid #cccccc;
    border-radius: 13px;
    padding: 45px 45px 32px 45px;
    background: white;
    position: relative;
    top: 0;
}

.login-form-container .center {
    padding: 45px;
}

#password-lost-form .center {
    width: 500px;
}

.register-login h2 {
    font-family: "Antic", sans-serif;
    font-size: 35px;
}


.register-login .error {
    background: rgba(255, 207, 209, 0.6);
    color: #ff6469;
    font-size: 13px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: -0.1px 0 10px rgba(120, 120, 120, 0.5);
    text-align: center;
}

#password-lost-form .form-row {
    margin-top: -8px;
}

#register-form .form-row:nth-child(2), #register-form .form-row:nth-child(3) {
    margin-top: -8px;
}

.register-login .login-submit input:nth-child(1), .register-login .submit input {
    width: 100%;
    border: 1px #285380 solid;
    color: #285380;
    background: none;
    transition: color .5s ease, background .5s ease;
}

#register-form .submit input {
    margin-top: 32px;
}

#password-lost-form .submit input {
    margin-top: 5px;
}

.register-login .login-submit input:nth-child(1):hover, .register-login .submit input:hover {
    color: white;
    background: #285380;
}

.login-form-container .forgot-password {
    position: relative;
}

.login-form-container .forgot-password:hover {
    color: #285380;
}

.login-form-container .forgot-password::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -6px;
    left: 76px;
    background: #285380;
    transition: left .3s ease, width .3s ease;
}

.login-form-container .forgot-password:hover::after {
    width: 142px;
    left: 5px;
}

.login-form-container .register-div {
    width: 450px;
    border: 1px solid #cccccc;
    border-radius: 13px;
    padding: 20px 5px 0 30px;
    background: white;
    position: relative;
    top: 10px;
}

.login-form-container .register-div h6 {
    font-weight: 600;
}

.login-form-container .register-div a {
    color: #4b95c2;
}