
body {
    font-family: Roboto, sans-serif;
	background-color: #EEE;
}
/* #header, #main {
    background-color: #F8F8F8;
    margin-left: auto;
    margin-right: auto;
    width: auto;
	max-width: 994px;
}*/ 
#main{
	padding-bottom: 40px;
}
#logo {
	margin-right: 30px;
}
#logo a{
	background-image: url('http://www.wiris.com/system/files/attachments/889/wiris_35.png');
	display: block;
	width: 120px;
	height: 35px;
    overflow:hidden;
    text-indent: 200px;
}
#header {
    height: 70px;
    border-bottom: solid 2px #EEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header h1 {
    font-size: 26px;
    color: #4D626E;
    margin: 0;
    margin-left: 30px;
    font-weight: bold;
}
#answers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#column1, #column2 {
    width: 482px;
}
/*#column1 {
    float: left;
}

#column2 {
    float: right;
}*/

/*#help{
    background-color: #FFF6D5;
	border: 1px solid #C1A949;
	border-radius: 10px 10px 10px 10px;
	clear: both;
	color: #555555;
	font-size: 8pt;
    padding: 5px 10px 5px 5px;
	min-height: 85px;
	margin-top: 30px;
	box-shadow: 2px 2px 2px #c1b892;
    margin-left: 30px;
    margin-right: 30px;
}
#help:before{
    font-size:96px;
    content:'?';
    color:#fff;
    font-weight:bold;
    float:left;
    font-family: verdana;
    position:relative;
    top:-10px;
    margin-right:5px
}
#help a, #help a:visited{
    color: #092F42;
    font-weight:bold;
    text-decoration:none;
}
#help a:hover{
    text-decoration:underline;
}*/

#back {
	margin-top: 10px;
}
#text {
	padding-top: 5px;
}
#back input{
	margin: 0;
	width: 130px;
}
input[name="test"]{
    width: 100px;
    margin-right: 5px;
}
#main h2 {
    font-size: 16px;
	
    color: #4D626E;
	
    margin-bottom: 5px;
    font-weight: bold;
}

#main h3 {
    font-size: 14px;
	
    color: #4D626E;
	
    margin-bottom: 3px;
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: #279;
}
#list {
padding-top: 10px;
padding-bottom: 10px;
margin-left:30px;
margin-right:30px;

}
#list h3{
    display: block;
    float:left;
    clear:both;
    margin:0;
    font-weight: bold;
    font-size: 24px;
    min-width: 80px;
	color: #fff;
	padding-left:10px;
    padding-top:14px;
    padding-bottom:14px;
    padding-right:12px;
}
#list ul{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    margin: 0;
    padding: 0;
    color: #333;
}
#list div{
    min-height: 60px;
    margin-top:10px;
	margin-bottom:10px;
    border: solid 2px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    display: flex;
    flex-direction: row;
}
div#level1{
    border-color:#c0504d;
    background-color:#c0504d;
}
div#level2{
    border-color:#bc9b52;
    background-color:#bc9b52;
}
div#level3{
    border-color:#9bba58;
    background-color:#9bba58;
}
div#other{
    border-color:#aaa;
    background-color:#aaa;
}
div#level3.disabled{
    border-color:#ddd;
    background-color:#ddd;
}
div.disabled a {
	pointer-events: none;
    cursor: default;
}
#list div.disabled ul {
	color:#ddd;
}
div#other h3, #list a{
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#list h3 a,
#list h3 a:visited{
    color: #fff;
    display:inline-block;
}


body{

background: -moz-linear-gradient(top,  rgba(47,74,89,1) 0, rgba(47,74,89,1) 20px, rgba(190,201,209,1) 20px, rgba(190,201,209,1) 50px, rgba(238,238,238,1) 50px, rgba(238,238,238,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(47,74,89,1)), color-stop(20px,rgba(47,74,89,1)), color-stop(20px,rgba(190,201,209,1)), color-stop(50px,rgba(190,201,209,1)), color-stop(50px,rgba(238,238,238,0.98)), color-stop(100%,rgba(238,238,238,0.96)));
background: -webkit-linear-gradient(top,  rgba(47,74,89,1) 0,rgba(47,74,89,1) 20px,rgba(190,201,209,1) 20px,rgba(190,201,209,1) 50px,rgba(238,238,238,1) 50px,rgba(238,238,238,1) 100%);
background: -o-linear-gradient(top,  rgba(47,74,89,1) 0,rgba(47,74,89,1) 20px,rgba(190,201,209,1) 20px,rgba(190,201,209,1) 50px,rgba(238,238,238,1) 50px,rgba(238,238,238,1) 100%);
background: -ms-linear-gradient(top,  rgba(47,74,89,1) 0,rgba(47,74,89,1) 20px,rgba(190,201,209,1) 20px,rgba(190,201,209,1) 50px,rgba(238,238,238,1) 50px,rgba(238,238,238,1) 100%);
background: linear-gradient(to bottom,  rgba(47,74,89,1) 0,rgba(47,74,89,1) 20px,rgba(190,201,209,1) 20px,rgba(190,201,209,1) 50px,rgba(238,238,238,1) 50px,rgba(238,238,238,1) 100%);
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4a59', endColorstr='#f5eeeeee',GradientType=0 );*/
background-repeat: no-repeat;
background-color: #EEE;
}


#list ul{
    background-color:#f8f8f8;
    padding-left:30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
}

/* #authoring{
    border: solid 2px #369A36;
    box-shadow: 2px 2px 2px #719a71;
}

#delivery{
    border: solid 2px #B0CB42;
    box-shadow: 2px 2px 2px #bcc49c;
}*/
#authoring, #delivery{
    /* margin-left: 30px;
    margin-right:30px; */
    padding: 4px 20px 20px 20px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    box-shadow: inset 0px -2px 4px 0px rgba(0,0,0,.2);
} 

/*#tabs{
    padding:0;
    padding-top:10px;
    margin-left:30px;
}
#tabs ul{
    margin:0;
    padding:0;
    list-style:none;
}
#tabs li{
    display:inline-block;
    margin-right:10px;
    padding:10px 10px 8px 10px;
    margin-bottom: -2px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    background-color: #FFF;
}
#tabauthoring{
    color: #369A36;
    border: solid 2px #369A36;
    border-bottom: none;
}
#tabdelivery{
    color:#B0CB42;
    border: solid 2px #B0CB42;
    border-bottom: none;
}
#tabauthoring.tabactive,  #tabdelivery.tabactive{
    padding-bottom: 10px;
}*/

#authoring input[type="submit"], #delivery input[type="submit"] {
    width:154px;
}

input[type="submit"],
input[type="button"] {
	display: inline-block;
    margin-top:10px;
}

.wirisassertionfeedback{
    margin-left: 170px;
    font-size:small;
}

.wirisquestion, .wirisquestioninstance, .wirislang{
	display: none;
}
#correctanswerswrapper {
  width: 600px;
  border: solid 1px #999;
  border-radius: 10px;
  padding: 10px;
}

span.correct input, span.correct span.mathml img{
  background-color: #a3e85f;
}

span.incorrect input, span.incorrect span.mathml img{
  background-color: #f68585;
}

span.partiallycorrect input, span.partiallycorrect span.mathml img {
  background-color: #faa871;
}

#studiowrapper {
	padding-top: 20px;
}
input[name="submit"] {
	width: 100px;
}
div.wirisembeddedstudio {
	border: solid 1px #fff;
    border-radius: 9px;
}

#questionxml {
	width: 100%;
	height: 100px;
}

/*div.wirisstudentanswer {
  display: inline;
}*/

#wrapper {
    background-color: #fefefe;
    padding: 20px 26px;
    box-shadow: 0 2px 2px 0 hsla(0,0%,0%,0.3);
    margin: 18px 10px;
    text-align: left;
    position: relative;
    margin-top: 0;
    border-radius: 2px;
    width: auto;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin: 30px;
}

#testcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 450px;
    margin: 12px 0;
}

#test, #Test, #submit {
    -webkit-appearance: none;
    background-color: #f26a54;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    padding: 0px 16px 0px 16px;
    text-align: center;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    font-size: 15px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    min-width: 96px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.2s;
    border-radius: 4px;
    margin-right: 24px;
}

#test:hover, #Test:hover, #submit:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
}

#test:active, #Test:active, #submit:active {
    box-shadow: none;
}

#submit {
    margin-top: 12px;
}

div#help {
    margin: 24px 40px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
}

#tabs {
    padding: 0;
    margin: 0;
    position: relative;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, .12);
}

#tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

#tabs li {
    display: inline-flex;
}

#tabs li > button,
#tabs li > input {
    font-weight: 400;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    padding: 12px;
    font-size: 15px;
    box-sizing: border-box;
    width: 190px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    text-transform: inherit;
    opacity: 0.5;
}

#tabs li > button.tabactive, 
#tabs li > input.tabactive {
    opacity: 1;
}

#tabs div {
    color: #222222;
}

#tabs #tabindicator {
    width: 190px;
    height: 2px;
    background-color: rgb(103, 147, 169);
    position: absolute;
    margin-top: -2px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, width 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, border 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#tabs #tabindicator.authoringindicator {
    transform: translateX(0px);
}

#tabs #tabindicator.deliveryindicator {
    transform: translateX(193px);
}

form, #form {
    margin: 12px 40px 0px 40px;
}

span.wirissummarywrapper {
    float: none !important;
}
