
#play-menu {
    position: fixed;
    width: 100px;
    top: 0;
    left: 0;
    /*background: rgb(29,34,41);*/
    background: black;
    z-index: 1000;
    transition: width .3s ease .1s;
}

#play-menu:hover {
    width: 280px;
    transition: width .4s ease;
}

#play-menu .flex {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    height: 340px;
    justify-content: space-around;
    align-items: flex-start;
}

#play-menu .flex > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100%;
}

#play-menu .flex > a:hover {
    background: #111521;
}

#play-menu .flex > a:nth-child(1) {
    margin-bottom: 30px;
}

#play-menu .img {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 35px 0 35px;
}

#play-menu .img.logo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0 20px 0 20px;
    background: white;
}

#play-menu .img .fa {
    font-size: 30px;
    color: white;
}

#play-menu .img.logo::after {
    content: "";
    background: url("../assets/logo.svg") no-repeat center;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 13%;
}


#play-menu .text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    width: 0;
    text-align: left;
    margin-left: -15px;
    opacity: 0;
    transition: width .3s ease .1s, opacity .2s ease;
}

#play-menu .flex > a:nth-child(1) .text {
    margin-left: 0;
}

#play-menu:hover .text {
    width: 70px;
    opacity: 1;
    transition: width .4s ease, opacity .1s ease .3s;
}


#back-home {
    position: absolute;
    bottom: 100px;
    height: 60px;
    width: 100%;
    background: rgb(34,37,41);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: height .25s ease, bottom .25s ease;
}

#back-home:hover {
    height: 80px;
    bottom: 90px;
}

#back-home .fa {
    color: white;
    font-size: 25px;
    position: relative;
    left: 10px;
    transition: left .3s ease .1s;
}

#back-home .text {
    line-height: 100%;
}

#play-menu:hover #back-home .fa {
    left: 25px;
    transition: left .4s ease;
}

#play-menu:hover #back-home .text {
    width: 150px;
}



#play-header {
    border-bottom: 2px solid rgb(29,34,41);
    position: fixed;
    top: -50px;
    right: 110px;
    min-width: 200px;
    padding: 0 30px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    transition: top .5s ease .2s;
}


#play-header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 2px;
    background: rgb(29, 34, 41);
    transition: height .25s ease;
}

#play-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 2px;
    background: rgb(29, 34, 41);
    transition: height .25s ease;
}

#play-header .img.avatar .fa {
    font-size: 30px;
    color: rgb(29,34,41);
    margin-right: 15px;
}

#play-header .text {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: rgb(29, 34, 41);
}


#play-header-menu {
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 110px;
    height: 150px;
    opacity: 0;
    display: flex;
    border-top: 7px solid white;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    transition: top .25s ease, opacity .25s ease, visibility .0s ease .25s;
}

#play-header:hover::before {
    height: 50px;
}

#play-header:hover::after {
    height: 50px;
}

#play-header:hover + #play-header-menu, #play-header-menu:hover {
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: top .25s ease, opacity .25s ease;
}

#play-header-menu a {
    border: 2px solid #111521;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 3px;
    transition: background .25s ease;
}

#play-header-menu a:hover {
    background: #111521;
}

#play-header-menu .fa {
    color: rgb(29, 34, 41);
    font-size: 15px;
    margin-top: 2px;
    margin-right: 8px;
    transition: color .25s ease;
}

#play-header-menu .text {
    color: rgb(29, 34, 41);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: left;
    transition: color .25s ease;
}

#play-header-menu a:hover .fa {
    color: white;
}

#play-header-menu a:hover .text {
    color: white;
}
