#psp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

#psp h1 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 40px;
    color: black;
    font-weight: 500;
    padding-bottom: 10px;
    margin-top: 100px;
    margin-bottom: 30px;
    position: relative;
}

#psp h1:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -20%;
    width: 140%;
    height: 2px;
    background: #111521;
}

#psp #past-problems {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#psp #past-problems .problem {
    color: #111521;
    font-family: "Nunito", sans-serif;
    border: 0.5px solid rgba(17, 21, 33, 0.4);
    margin: 15px;
    width: 350px;
    background: white;
    position: relative;
    top: 0;
    display: none;
    transition: box-shadow .3s ease, border .3s ease, top .3s ease;
}

#psp #past-problems .problem:hover {
    box-shadow: 0 0 10px 2px rgba(17, 21, 33, 0.3);
    border: 1px solid rgba(17, 21, 33, 0.4);
    top: -10px;
}

#psp #past-problems .problem.showing {
    display: block;
}

#psp #past-problems .buttons {
    background: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s ease, z-index 0s ease .3s;
}

#psp #past-problems .buttons .edit {
    margin-right: 20px;
    border: 1px solid #ff845d !important;
    color: #ff845d !important;
}

#psp #past-problems .buttons .edit::before {
    background: #ff845d !important;
}

#psp #past-problems .buttons .edit:hover {
    color: white !important;
}

#psp #past-problems .buttons .preview button {
    border: 1px solid #285380 !important;
    color: #285380 !important;
}

#psp #past-problems .buttons .preview button::before {
    background: #285380 !important;
}

#psp #past-problems .buttons .preview:hover {
    color: white !important;
}

#psp #past-problems .buttons .styled-button {
    background: white;
}

#psp #past-problems .problem:hover .buttons {
    opacity: 1;
    z-index: 1;
    transition: opacity .3s ease, z-index 0s ease 0s;
}

#psp #past-problems .topic-focus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-style: italic;
    margin: 20px 20px 15px 20px;
    padding: 5px 0;
    background: rgba(56, 100, 155, 0.1);
    box-shadow: 0 0 8px 1px rgba(56, 100, 155, 0.3);
}

#psp #past-problems .topic-focus span {
    margin: 0 10px;
}

#psp #past-problems .problem-text {
    margin: 0 20px;
}

#psp #past-problems .info {
    border-top: 1px solid rgba(56, 100, 155, 0.3);
    margin-top: 8px;
    padding: 20px 25px 15px 25px;
    position: relative;
}

#psp #past-problems .info::before {
    content: "";
    background: rgba(56, 100, 155, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    /*z-index: -;*/
}

#psp #past-problems .source {
    margin-bottom: 5px;
}


#psp #past-problems .difficulty .fa {
    margin: 0 2px;
}

#psp #load-more {
    width: 350px;
    margin: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0);
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Submission Tab */
#container-fluid.psp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: top .4s ease;
    z-index: 100;
    background: white;
}

#problem-submit {
    width: 80%;
    margin-bottom: 50px;
    padding: 20px 80px 200px 80px;
    display: flex;
    flex-direction: column;
}

#problem-submit h3 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 40px;
    color: black;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

#problem-submit h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 2px;
    background: #111521;
}

#problem-submit .flex {
    width: 100%;
    padding: 0;
    margin: 0;
}

#problem-submit .container {
    margin-bottom: 50px;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;
}

.input-container h6 {
    color: black;
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 19px;
    font-family: "Nunito", sans-serif;
    display: block;
}

.input-container h6 .smaller {
    font-size: 14px;
    font-style: italic;
}

.input-container > * {
    width: 100%;
}

.input-container input[type = "text"] {
    border: 1px solid rgba(17, 21, 33, 0.51);
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: rgb(17, 21, 33);
    outline: none;
    transition: border .15s ease, box-shadow .15s ease;
}

.input-container input[type = "text"]:focus {
    border: 1px solid rgba(40, 83, 128, 0.61);
    color: #285380;
    box-shadow: 0 0 10px 0 rgba(40, 83, 128, 0.61);
}

.input-container textarea {
    border: 1px solid rgba(17, 21, 33, 0.51);
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: 120px;
    color: rgb(29, 34, 41);
    margin: 0;
    resize: vertical;
    outline: none;
    transition: border .15s ease, box-shadow .15s ease;
}

.input-container textarea:focus {
    border: 1px solid rgba(29, 34, 41, 0.61);
    box-shadow: 0 0 10px 0 rgba(29, 34, 41, 0.61);
}

.input-container .expand {
    background: none;
    border: none;
    float: right;
    width: auto;
    color: rgb(170, 170, 170);
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    border-right: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    margin-top: -8px;
    padding: 5px 5px 5px 20px;
    border-bottom-right-radius: 5px;
    transition: color .2s ease, border .2s ease, background .2s ease;
}


.input-container .expand .fa {
    transform: rotate(180deg);
    display: inline-block;
    margin-right: 7px;
    position: relative;
    top: -2px;
}

.input-container .expand:hover {
    color: rgba(17, 21, 33, 0.51);
    border-color: rgba(17, 21, 33, 0.51);
    background: rgba(235, 235, 235, 0.3);
}


.diagram.flex-options {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: stretch;
}

.diagram.flex-options > div {
    height: inherit;
    overflow: hidden;
    transition: height .3s ease;
    padding: 10px;
    width: 100%;
}

.diagram.flex-options > .diagram-file {
    display: flex;
    align-items: center;
}

.diagram.flex-options > div:last-child {
    height: 0;
    padding: 0;
}

.diagram.flex-options textarea {
    width: 100%;
}


#diagram {
    width: 0;
}


.styled-button {
    position: relative;
    color: #ff845d;
    border: 1px solid #ff845d;
    background: none;
    transition: color .25s ease;
}

.styled-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #ff845d;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    transition: height .25s ease;
}

.styled-button:hover {
    color: white;
}

.styled-button:hover::before {
    height: 100%;
}

#diagram-file-label {
    border: 1px solid #111521;
    padding: 10px;
    font-size: 17px;
    color: #111521;
    margin-left: 30px;
    cursor: pointer;
    position: relative;
}

#diagram-file-label .fa {
    margin-right: 10px;
}

#file-name {
    flex: 1;
    margin-left: 15px;
    font-size: 15px;
    color: rgba(17, 21, 33, 0.75);
}


#diagram-file-label::before {
    background: #111521;
}

#diagram-file-label:hover {
    color: white;
}


.hint-two.flex-options {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: stretch;
}

.hint-two.flex-options > input {
    height: inherit;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}


.solution.input-container {
    position: relative;
    z-index: 100;
}


.input-container select {
    border: 1px solid rgb(170, 170, 170);
    height: 40px;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

#topic, #source {
    height: 55px;
    font-size: 17px;
}

.other-foci button {
    background: none;
    border: 1px solid #285380;
    border-radius: 15px;
    padding: 0 10px;
    color: #285380;
    margin-top: 5px;
    transition: font-weight .2s ease;
}

.other-foci button .fa {
    margin-right: 5px;
}

.other-foci button:hover {
    font-weight: 900;
}

.input-container select.other-focus {
    height: 30px;
    font-size: 12px;
    color: rgb(100, 100, 100);
    border: 1px solid rgb(155, 155, 155);
}

.input-container div.other-focus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 2px 0 5px 0;
    transition: box-shadow .3s ease;
}

.input-container div.other-focus:hover {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.5);
}

.input-container.source {
    margin-bottom: 20px;
    transition: margin-bottom .3s ease;
}

.input-container div.source-other {
    margin-top: 8px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-container div.source-other > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.input-container div.source-other p {
    font-family: "Nunito", sans-serif;
    color: #111521;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    top: 12px;
    left: 7px;
}

.input-container input.source-other, .input-container input.author-other, .input-container select.source-other {
    width: 70%;
}

.input-container input.source-other:focus, .input-container input.author-other:focus {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.5);
    border: 1px solid rgb(170, 170, 170);
    color:rgb(17, 21, 33);
}

.input-container div.source-other .fa {
    color: rgb(100, 100, 100);
    position: relative;
    left: 10px;
}

#difficulty .fa {
    cursor: pointer;
    padding: 0 3px;
    margin-top: 3px;
    font-size: 22px;
    color: rgb(170, 170, 170);
}

#submit {
    margin-left: 25px;
    font-size: 18px;
    width: 92%;
    padding: 15px;
}

#submit .fa {
    margin-right: 10px;
    font-size: 16px;
}


#errors {
    background: rgba(255, 207, 209, 0.6);
    width: 70%;
    color: #ff6469;
    font-size: 13px;
    padding: 20px 35px;
    margin-bottom: 20px;
    box-shadow: -0.1px 0 10px rgba(120, 120, 120, 0.5);
    display: none;
}

#errors p {
    color: #ff6469;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

#errors ul {
    margin: -15px 50px 0 50px;
    font-family: "Montserrat", sans-serif;
}

#errors ul li {
    margin: 3px 0;
}




/* Full Edit */
#full-edit-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 110;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 25%;
}

.full-edit {
    position: relative;
    background: white;
    width: 100%;
    min-width: 500px;
    padding: 30px 50px 50px 50px;
    border-radius: 25px;
    display: none;
    flex-direction: column;
    align-items: stretch;
    transition: opacity .3s ease, top .3s ease;
}

.full-edit:not(.diagram-preview) {
    height: 100%;
}

.full-edit.diagram-preview {
    padding: 30px 50px 20px 50px;
}

.full-edit h2 {
    width: 100%;
    padding: 10px 5px;
    font-size: 50px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(17, 21, 33, 0.51);
}

.full-edit h2 .smaller {
    font-size: 30px;
    font-style: italic;
    display: none;
}

.full-edit .return {
    position: absolute;
    right: 50px;
    top: 50px;
    background: none;
    color: #ff845d;
    border: 1px solid #ff845d;
    font-size: 18px;
    z-index: 5;
    padding: 8px 15px;
    transition: color .25s ease;
}

.full-edit .return .fa {
    margin-right: 8px;
}

.full-edit .return:hover {
    color: white;
}

.full-edit textarea {
    border: solid 1px rgba(17, 21, 33, 0.51);
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: rgba(29, 34, 41, 0.7);
    padding: 10px;
    resize: none;
    width: 100%;
    flex-grow: 10;
    outline: none;
    position: relative;
    transition: border .15s ease, box-shadow .15s ease;
}

.full-edit .output {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    overflow: auto;
    color: rgb(29, 34, 41);
    height: 30%;
    border-top: 1px solid rgb(29, 34, 41);
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 20px;
    padding: 45px 50px 0 50px;
    position: relative;
    transition: height .3s ease;
}

.full-edit .output button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    overflow: hidden;
    padding-left: 50px;
    text-align: left;
    border: none;
    background: none;
    transition: background .2s ease;
}

.full-edit .output button .fa {
    transform: rotate(0deg);
    margin-left: 10px;
    position: relative;
    top: 2px;
    font-size: 18px;
    transition: transform .3s ease;
}

.full-edit .output button:hover {
    background: #e6e6e6;
}

.full-edit .output p, .full-edit .output .svg-output {
    visibility: visible;
    overflow: auto;
    padding: 0;
    margin: 0;
    transition: visibility 0s ease .3s;
}




/* Selector Buttons */
.input-container .selector-buttons {
    width: 100%;
    height: 37px;
    display: flex;
    align-items: stretch;
    position: relative;
}

.selector-buttons button {
    border: 1px solid rgb(155, 155, 155);
    background: transparent;
    color: rgb(155, 155, 155);
    margin: 0;
    flex: 1;
    transition: color .3s ease, background .2s ease;
}

.selector-buttons button:nth-child(2) {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    color: white;
}

.selector-buttons button:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.selector-buttons button:hover {
    background: rgba(40, 83, 128, 0.1);
}

.input-container .indicator {
    position: absolute;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    left: 0;
    top: 0;
    transition: left .3s ease;
}

.input-container .indicator div {
    background: rgba(40, 83, 128, 0.3);
    border-radius: 15px;
    width: 120px;
    height: 25px;
}

.input-container .selector-buttons.hint-two .indicator {
    width: 50%;
}

.input-container .hint-two .indicator div {
    width: 170px;
}

.input-container .selector-buttons.calculus .indicator div {
    background: rgba(40, 83, 128, 0.8);
}



/* Math Editor Styling */
#answer {
    height: 44px;
    transition: height .5s ease;
}

#answer .wrs_toolbar .wrs_panelContainer {
    height: 0;
    opacity: 0;
    position: relative;
    top: 0;
    transition: top .4s ease, height .25s ease, opacity .25s ease;
}

#answer .wrs_formulaDisplay {
    height: inherit !important;
    overflow: hidden !important;
    padding: 6px;
}

#answer .wrs_formulaDisplayWrapper {
    position: relative;
    top: 0;
    transition: top .25s ease;
}

#answer .wrs_contextPanel {
    z-index: 101;
}


#answer .wrs_container > .wrs_underlineCaret {
    display: none;
}

#answer .wrs_linksContainer.wrs_noTabs > a {
    display: none;
}





@media (min-width: 768px) {
    #full-edit-container {
        padding: 5% 25%;
    }

}

@media (min-width: 1200px) {
    #problem-submit {
        flex-direction: row;
    }

    #problem-submit .flex {
        width: 50%;
    }

    .full-edit h2 .smaller {
        display: inline;
    }
}