
#container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#problem {
    width: 60%;
    border: 1px solid #111521;
    padding: 35px;
}

#student-answers .correct, #answer .correct {
    color: green;
}

#student-answers .incorrect {
    color: red;
}