#rps .container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#rps #container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rps #container > div {
    width: 500px;
}

#rps h2 {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 40px;
    color: black;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

#rps .slide-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 0;
    transition: left .3s ease;
}

#rps .slide {
    width: 500px;
    position: relative;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s ease;
}

#rps .controls {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* Slide One */
#rps p {
    color: rgba(17, 21, 33, 0.75);
    font-family: "Nunito", sans-serif;
}

#rps h2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #111521;
}

#rps .button {
    height: 44px;
    background: none;
    border: 1px solid #285380;
    border-radius: 0;
    color: #285380;
    position: relative;
    padding: 0 12px;
    z-index: 10;
    transition: color .25s ease;
}

#rps .button::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #285380;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    transition: height .25s ease;
}

#rps .button:hover {
    color: white;
}

#rps .button:hover::before {
    height: 100%;
}


/* Slide Two */
#rps h4 {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#rps .option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    padding-left: 30px;
    cursor: pointer;
    transition: background .2s ease;
}

#rps .option h6 {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
}

#rps .option .circle {
    width: 15px;
    height: 15px;
    border: 1px solid #111521;
    border-radius: 7.5px;
    margin-right: 25px;
    position: relative;
    transition: margin .2s ease, border .3s ease;
}

#rps .option.selected .circle {
    border: 1px solid #285380;
}


#rps .option .circle > div {
    position: absolute;
    top: 6.5px;
    left: 6.5px;
    width: 0;
    height: 0;
    border-radius: 4.5px;
    background: #285380;
    transition: top .3s ease, left .3s ease, height .3s ease, width .3s ease;
}

#rps .option.selected .circle > div {
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
}

#rps .option:hover {
    background: rgba(40, 83, 128, 0.05);
}

#rps .option:hover .circle {
    margin-left: 10px;
}


/* Slide Three */
#rps .option .fa {
    font-size: 20px;
    margin-right: 25px;
    position: relative;
    top: 2px;
    color: #285380 !important;
    transition: margin .2s ease;
}

#rps .option:hover .fa {
    margin-left: 10px;
}


/* Slide Four */
#rps .slide:nth-child(4) .option {
    height: 40px;
}


/* Slide Five */
#rps .add-focus {
    background: none;
    border: 1px solid #285380;
    border-radius: 15px;
    padding: 0 10px;
    color: #285380;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: font-weight .2s ease;
}

#rps .add-focus .fa {
    margin-right: 5px;
}

#rps .add-focus:hover {
    font-weight: 900;
}

#rps select.focus {
    height: 35px;
    font-size: 14px;
    color: rgb(100, 100, 100);
    outline: none;
    border: 1px solid rgb(155, 155, 155);
}

#rps div.focus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 2px 10px 5px 10px;
    transition: box-shadow .3s ease;
}

#rps div.focus:hover {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.5);
}